<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.whi.service.user.repo.mapper.UserFootMapper">
    <sql id="limit">
        <if test="pageParam != null">
            limit #{pageParam.offset}, #{pageParam.limit}
        </if>
    </sql>

    <select id="countArticleByArticleId" resultType="ink.whi.api.model.vo.article.dto.ArticleFootCountDTO">
        select
            # 如果praise_stat的值=PRAISE.code的值，则将1加到praiseCount上，否则将0加到praiseCount上
            # 将需要的数据全部查出来，再按需分类，避免多次查询，非常巧妙
            sum(if(f.praise_stat = ${@ink.whi.api.model.enums.DocumentTypeEnum@PRAISE.code}, 1, 0))       as praiseCount,
            sum(if(f.collection_stat = ${@ink.whi.api.model.enums.PraiseStatEnum@COLLECTION.code}, 1,
                   0))                                                                                    as collectionCount,
            avg(r.`cnt`)                                                                                  as readCount
        from read_count as r
                 left join user_foot f on r.document_id = f.document_id
        where r.document_type = ${@ink.whi.api.model.enums.DocumentTypeEnum@ARTICLE.code}
          and r.document_id = #{articleId}
    </select>

    <select id="countArticleByUserId" resultType="ink.whi.api.model.vo.article.dto.ArticleFootCountDTO">
        select sum(if(f.praise_stat = ${@ink.whi.api.model.enums.DocumentTypeEnum@PRAISE.code}, 1, 0))       as praiseCount,
               sum(if(f.collection_stat = ${@ink.whi.api.model.enums.PraiseStatEnum@COLLECTION.code}, 1,
                      0))                                                                                    as collectionCount,
               avg(r.`cnt`)                                                                                  as readCount
        from read_count as r
                 left join user_foot f on r.document_id = f.document_id
            and f.document_type = r.document_type
        where r.document_type = ${@ink.whi.api.model.enums.DocumentTypeEnum@ARTICLE.code}
          and f.document_user_id = #{userId}
    </select>
    <select id="listCollectedArticlesByUserId" resultType="java.lang.Long">
        select `document_id`
        from user_foot
        where user_id = #{userId}
        and document_type = ${@ink.whi.api.model.enums.DocumentTypeEnum@ARTICLE.code}
        and collection_stat = ${@ink.whi.api.model.enums.PraiseStatEnum@COLLECTION.code}
        order by update_time desc
        <include refid="limit"/>
    </select>
    <select id="listReadArticleByUserId" resultType="java.lang.Long">
        select `document_id`
        from user_foot as f
        where user_id = #{userId}
        and document_type = ${@ink.whi.api.model.enums.DocumentTypeEnum@ARTICLE.code}
        and read_stat = ${@ink.whi.api.model.enums.ReadStatEnum@READ.code}
        ORDER BY update_time desc
        <include refid="limit"/>
    </select>
    <select id="listSimpleUserInfosByArticleId"
            resultType="ink.whi.api.model.vo.article.dto.SimpleUserInfoDTO">
        select u.user_id   as userId,
               u.user_name as name,
               u.photo     as avatar
        from user_foot f
                 LEFT JOIN user_info u on u.id = f.user_id
        where document_id = #{documentId}
          and document_type = #{type}
          and praise_stat = ${@ink.whi.api.model.enums.DocumentTypeEnum@PRAISE.code}
        ORDER BY update_time desc
        limit #{size}
    </select>
</mapper>
